.hero{
    position: relative;
    margin-top: -8%;
}
.hero h3{
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 6%;
}

.hero h1{
    font-size: 60px;
    font-weight: bold;
}

.hero h1 span{
    color: #ff014f;
}

.hero h2{
    font-size: 50px;
    font-weight: bold;
    color: #ff014f;
}

.hero h2 span{
    color: black;
}

.hero p{
    color:#878e99;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.hero_btn{
    margin-top: 20%;
}

.hero_btn h4{
    font-weight: 500;
    letter-spacing: 2px;
    color: #43474b;
    font-size: 15px;
    margin: 30px 0 30px 0;
}

.hero_btn i{
    margin-right: 30px;
}

.hero_btn i{
    font-size: 20px;
}

.hero_btn button img{
    width: 20px;
    height: 20px;
}

.hero .left{
    margin-left: 10%;
}

.hero .right{
    width: 40%;
    position: relative;
}

.hero .right_img{
    /* background: linear-gradient(145deg,#e2e8ec,#ffffff); */
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffffff;
    border-radius: 10px;
    height: 596px;
    width: 510px;
    margin-top: 20%;
    margin-left: 0%;
}

.hero .right_img img{
    position: absolute;
    top: 75px;
    margin-left: -21%;
    width: 460px;
    padding-bottom: 22%;
    padding-left: 6%;
    left: 18%;
}

.col_1{
    padding-right: 3%;
}

.top{
    top: -7%;
}